html {
    scroll-behavior: smooth;
}

* {
    text-align: center !important;
}

h1 {
    margin: 20px;
    padding: 10px;
}

h2 {
    font-size: 4rem;
}

h3 {
    padding: 15px;
    font-size: 2rem;
}

li > a {
    font-size: 1.2rem !important;
}

footer > p {
    font-size: 1.5rem;
}

/* background-image:url("images/danca.jpeg") */

body {
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.content {
    /* background-color: #606060; */
    margin: 20px 15px 30px 15px;
    padding: 25px;
    /* height: 70vh; */
    border-radius: 20px;
    box-shadow: 0 0 1em black;
}

/* @media (max-width: 700px) {

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: 260px;
    }
} */